{
  "blank": {
    "src": "vendor/snowdog/theme-blank-sass",
    "dest": "pub/static/frontend/Snowdog/blank",
    "locale": ["en_US"],
    "ignore": [".test"]
  },
  "rsrv-basic": {
    "src": "vendor/pernod-ricard/magento-mod-rsrv2_theme_basic",
    "dest": "pub/static/frontend/Rsrv/default",
    "locale": ["en_US", "fr_FR"],
    "parent": "blank"
  },
  "rsrv-webview": {
    "src": "vendor/pernod-ricard/magento-mod-rsrv2_theme_webview",
    "dest": "pub/static/frontend/Rsrv/webview",
    "locale": ["en_US"],
    "parent": "blank"
  }
}
